#button-return {
    text-decoration:none;
    color:white;
}
.exp-button {
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    background-color: #5a71cc
}
#about-background {
    height:950px;
    width:100%;
    margin-top:-2.5%;
    position:fixed;
    z-index:-2;
}

.about-message {
    margin: auto;
    margin-top: 5%;
    width: 60%;
    padding: 10px;
    height: 600px;
    background-color: rgba(41, 46, 51, 0.9);
    color: white;
}

.about-header h1 {

    margin-top:50px;
    font-size: 48px;
}

.about-message-content {

    position:relative;
    left:9%;
    font-size:16px;
}

.service-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

.circle {
    margin: auto;
    width: 60%;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #feb437;
    border-radius: 100%;
}
.circle img{
    margin: auto;
    margin-top:10px;
    width: 60%;
    padding: 10px;
    height:60px;
    width:60px;
}

.assistance-container {
    margin: auto;
    width: 60%;
    height: 700px;
    padding: 10px;
    margin-top: 275px;
    margin-bottom:100px;
    background-color: rgba(41, 46, 51, 0.9);
    color:white;
    font-size:18px;
}

.image-circle {
    margin: auto;
    height: 300px;
    width: 450px;
    background-image: url("Images/online_assistance.jpg");
    border-radius:100%;
    border:solid;
    border-color:white ;
}

.center {
    text-align:center;
}

#return-button {
    position: fixed;
    top: 900px;
    left:2%;
    text-decoration:none;
}
#return-button button{
    background-color:#d94848;
}

#top {
position:absolute;
top:0px;
}

#online-assistance-anchor {
    position:absolute;
    top:820px;
    
}

#evaluated-projects-anchor {
    position: absolute;
    top: 1800px;
   
}

#test-prep-anchor {
    position:absolute;
    top:3000px;
}

button a{
    color:white;
    text-decoration:none;
}
