.content {
    width: 100%;
    background-color: aliceblue;
    height: 950px
}

.welcome {
    width: 90%;
    height: 400px;
    background-color: #c9453c;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #372d2d;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }
