
#exp-button {
    height: 55px;
    width: 15%;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    background-color:#5a71cc
}


#welcome-background {
    height: 900px;
    width: 100%;
}

#welcome-message {
    width: 50%;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 25%;
    text-align: center;
    color: white;
}

    #welcome-message h1 {
        font-size: 55px;
        
    }
    #welcome-message p {
        font-size: 25px;
    }



