.exp-button {
    color: white;
    border: none;
    width:100px;
    text-decoration: none;
    border-radius: 12px;
    background-color: #5a71cc
}
#login-background {
    position:absolute;
    height:975px;
    width:100%;
    top:0px;
    z-index:-1;
}
.login-bar {
    margin: auto;
    margin-top: 10%;
    height: 400px;
    width: 50%;
    background-color: rgba(41, 46, 51, 0.8);
    text-align: center;
    color: white;
    
}
    .login-bar a {
        text-decoration: none;
        color: white;
    }
    
#login-title {
    margin-top:5%
}

    #login-form button {
        margin-top:3%;
        margin-bottom:3%;
    }
    

.login-input {
    margin:auto;
    
    width:50%;
}