.content {
    width: 100%;
    background-color: aliceblue;
    height: 950px
}

.login {
    width: 30%;
    height: 550px;
    background-color: #c9453c;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #372d2d;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

.login {
    text-align:center;
    margin-top:100px
}

#UserName , #Password {
    margin-bottom:15px;
    width:30%;
}

#forgot_password_link a {
    text-decoration: none;
    color: white;
    
}

#forgot_password_link {
    margin-top:20px
}

form {
    margin-top: 100px;
}

input {
    text-align: center;
}
